body {
    font-family:'Helvetica', 'roboto', 'Candara';
    background-color: rgb(194, 194, 194);
}

.container-one {
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    background : rgb(230, 28, 38);
    width: 75%;
    margin: auto;
}

.align {
    text-align: center;
}

.container-two {
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    background : rgb(109, 204, 207);
    width: 75%;
    margin: auto;
}

#heading {
    position: center;
    top:5px;
    color: white;
    font-size: 60px;
}

#footing {
    position: center;
    top:5px;
    color: white;
    font-size: 60px;
    opacity: 50%;
}

/* This will let me make some containers that are side by side without making a table */
.flex-container {
    display: flex;
    color: white;
    padding: 10px;
    width: 75%;
    margin: auto;
}

.flex-child {
    flex: 1;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    background : rgb(230, 28, 38);
    width: 75%;
    margin: auto;
}  

.flex-child {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
} 

.flex-container-2 {
    display: flex;
    color: white;
    padding: 10px;
    width: 75%;
    margin: auto;
}
.flex-child-blue {
    flex: 1;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    background : rgb(109, 204, 207);
    width: 75%;
    margin: auto;
}  
.flex-child-blue {
    margin-right: 90px;
    margin-left: 90px;
} 