@font-face {
    font-family: Gyosho;
    src: url(../fonts/Gyosho.ttf);
    font-weight: normal;
  }
  @font-face {
    font-family: Yozakura;
    src: url(../fonts/YOZAKURA-Regular.otf);
    font-weight: normal;
  }
  @font-face {
    font-family: Korean Calligraphy;
    src: url(../fonts/Korean_Calligraphy.ttf);
    font-weight: normal;
  }

/*#logo1{
    position: fixed;
    top: 20px;
    left: 60px;
    max-height: 200px;
    padding: 5px;
}*/

.logo1{
    float: left;
    content:url("../images/Asset 2.png");
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 5px;
    max-width: 120px;

}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .logo1{
        content:url("../images/Asset 2.png");
        position: fixed;
        top: 20px;
        left: 60px;
        max-width: 160px;
        padding: 5px;
        
    }
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    color: rgb(186, 37, 37);
    background-color: black;
    font-family: 'Yozakura', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 0%;
    padding-left: 185px;
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: left; 
    height: 200px;
    width: 100%;
}


/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        color: rgb(186, 37, 37);
        background-color: black;
        font-family: 'Yozakura', sans-serif;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 0%;
        padding-left: 260px;
        padding-top: 0px;
        padding-bottom: 5px;
        text-align: left; 
        height: 250px;
        width: 100%;
    }
}

#main{
    color: black;
    background-color: white;
    font-family: 'Korean Calligraphy', sans-serif;
    font-style: normal;
    padding-top: 240px;
    padding-bottom: 20px;
    text-align: left;

}

@media only screen and (min-width: 600px) {
    #main{
        color: black;
        background-color: white;
        font-family: 'Korean Calligraphy', sans-serif;
        font-style: normal;
        font-size: large;
        padding-top: 350px;
        padding-bottom: 20px;
        text-align: left;
    
    }
}

#contact {
    color: black;
    background-color: white;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    font-style: normal;
    padding-top: 300px;
    padding-bottom: 20px;
    text-align: center;
}



table {
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    color: black;
    background-color: white;
    font-family: sans-serif;
    font-style: normal;
    padding-top: 230px;
    padding-bottom: 20px;
    text-align: center;
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    #menu {
        color: black;
        background-color: white;
        font-family: sans-serif;
        font-style: normal;
        font-size: large;
        padding-top: 300px;
        padding-bottom: 20px;
        text-align: center;
    }
}



.image1 {
    content:url("../images/image1.jpg");
    float: left;
    padding: 10px;
    max-width: 40%;
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .image1 {
        content:url("../images/image1.jpg");
        padding: 50px;
        max-width: 30%;
    }
}

.image2 {
    content:url("../images/image 2.jpg");
    float: right;
    padding: 10px;
    max-width: 100%;
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .image2 {
        content:url("../images/image 2.jpg");
        padding: 40px;
        max-width: 60%;
    }
}

.image3 {
    content:url("../images/image 3.jpg");
    float: right;
    padding: 10px;
    max-width: 200px;
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .image3 {
        content:url("../images/image 3.jpg");
        padding: 50px;
        max-width: 500px;
    }
}


a:link {
    color: black;
    font-style: normal;
    text-decoration: none;
    
 }

a:hover {
    color: rgb(186, 37, 37);
    
 }

 menu {
    position: fixed;
    top: 210px;
    left: 0px;
    padding-left: 25px;
    background-color: rgb(186, 37, 37);
    font-family: 'Korean Calligraphy',sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    height: 3em;
    width: 100%;
    text-align: left;
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    menu {
        position: fixed;
        top: 245px;
        left: 0px;
        padding-left: 200px;
        background-color: rgb(186, 37, 37);
        font-family: 'Korean Calligraphy',sans-serif;
        text-transform: uppercase;
        margin-top: 0;
        height: 4em;
        width: 100%;
        text-align: left;
    }
}



.menu-item {
    display: inline-block;
    margin: .5em .2em;
    min-width: 4em;
    text-align: center;
    background-color: rgb(186, 37, 37);
    padding: 0.5em 1em;
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .menu-item {
        display: inline-block;
        margin: 1em .2em;
        min-width: 6em;
        text-align: center;
        background-color: rgb(186, 37, 37);
        padding: 0.5em 1em;
    }
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgba(170, 170, 170, 0.2);
    color: black
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid rgb(186, 37, 37);
    margin: 0.5em 0 0 -1em;
    color: rgb(186, 37, 37);
    background-color: white;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(186, 37, 37);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: rgba(170, 170, 170, 0.1);
    
}

